@import '../../styles/variables';
.header{
  display: flex;
  justify-content: space-between;
  .halfWrapper{
    display: flex;
    align-items: center;
    gap:20px;
    .logo{
      svg{
        width: 65px;
        height: 65px;
      }
    }
    .title{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      cursor: pointer;
      color:#4793FF;
    }
    .changeTheme{
      cursor: pointer;
    }
  }
  .select{
    position: relative;
    &_input{
      border-radius: 16px;
      padding: 8px 16px;
      background-color: var(--card-background-default);
      color: $primary-color;
      border: none;
      &::placeholder{
        color: rgba($primary-color,.5);
        font-size: 12px;
      }
    }
    &_dropdown{
      z-index: 100;
      width: 100%;
      background-color: #fff;
      position: absolute;
      transform: translateY(-12px);
      border-radius: 12px;
      border: 1px solid grey;
      li{
        cursor: pointer;
        padding: 8px 16px;
        list-style: none;
        div{
          color: #000;
        }
        div+div{
          color: $primary-color;
          font-size: 12px;
        }
        &:last-child{
          span{
            color: #000;
            font-weight: 800;
          }
        }
      }

    }
  }
  button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $primary-color;
  }
}